.ui-dialog-extended .ui-dialog-title {
    float:none
}
.ui-dialog-extended .ui-dialog-titlebar-button {
    float: right;
    margin:0;
    position: relative;
    right: auto
}
.ui-dialog-maximize {
    opacity:1
}
.ui-dialog-extended .ui-state-default, .ui-dialog-extended .ui-widget-content .ui-dialog-extended .ui-state-default, .ui-dialog-extended .ui-widget-header .ui-dialog-extended .ui-state-default {
    background: none;
    border: none    
}
#dialog-extend-fixed-container {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999
}
#dialog-extend-fixed-container .ui-dialog-extended{
    height:auto !important;
    left: auto !important;
    opacity:1;
    position: relative !important;
    top: auto !important;
    width:auto !important    
}
#dialog-extend-fixed-container .ui-dialog-extended.left{
    float:left
}
#dialog-extend-fixed-container .ui-dialog-extended.right{
    float:right
}
#dialog-extend-fixed-container .ui-dialog-extended .ui-dialog-content, #dialog-extend-fixed-container .ui-dialog-extended .ui-dialog-buttonpane {
    display:none !important
}
